<div class="container__big-card">
<div class="big-card__picture">
  <img  src="https://ichef.bbci.co.uk/news/640/amz/worldservice/live/assets/images/2015/09/26/150926165742__85730600_monkey2.jpg"
        alt="Macaco Sorrindo"
      >
</div>
<div class="big-card__title">
  <h1><a href="https://www.youtube.com/watch?v=jRBzQfEMu54">Macaco Sorridente tira selfie</a></h1>
</div>
<div class="big-card__description">
  <p> Enquanto passeava pela selva tropical, um curioso macaco travesso avistou um celular deixado desatendido por um visitante distraído.
    Com alta destreza, o macaco rapidamente agarrou o dispositivo e, para a surpresa de todos, começou a tirar selfies com um sorriso travesso no rosto.
    O inusitado momento capturado nas fotos fez todos rirem, e o macaco, aparentemente satisfeito com sua façanha tecnológica, demonstrou sua alegria enquanto posava para a câmera.
  </p>
</div>
</div>
