@import url('https://fonts.cdnfonts.com/css/itc-cheltenham-std');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2a2a2b;
  color: white;
  font-family: 'ITC Cheltenham Std', Segoe UI;
}

a{
  text-decoration: none;
}
